<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/reset.css}" rel="stylesheet" />
  <link th:href="@{/css/user/find-user-id.css}" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/d84eab0825.js" crossorigin="anonymous"></script>
  <title>Document</title>
</head>
<body>
<div class="message_box">
  <div class="message_contents" th:text="'회원님의 아이디: ' + ${userId}"></div>
  <div class="btn">
    <a href="/user/login">
      <input type="button" value="로그인 페이지로 돌아가기" class="join_form_btn"/>
    </a>
  </div>
</div>
</body>
</html>