<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/reset.css}" rel="stylesheet" />
    <link th:href="@{/css/board/calendar.css}" rel="stylesheet"/>
    <script src="https://kit.fontawesome.com/d84eab0825.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"/>
    <title>Document</title>
</head>
<body>
<div class="container">
    <div class="container_background">

        <div class="write_form_header">

            <div class="write_form_header_first">
                <div class="write_form_header_icon cursor">
                    <i class="fa-solid fa-arrow-left-long"></i>
                </div>
                <span class="write_form_header_save">캘린더</span>
            </div>

            <div class="write_form_header_second">
                <!--동적으로 현재 날짜-->
                <input readonly value="2022월 8월 5일" type="text" id="date" size="10" class="write_form_header_second_text" />
                <label for="date">
                    <i class="fa-solid fa-caret-down cursor"></i>
                </label>
            </div>

        </div> <!--header-->

        <!--main-->
        <div class="content_main">
            <!--동적 처리-->
            <div class="content_main_diary">
                <!--동적 처리-->
                <div class="content_main_diary-detail cursor">

                    <div class="content_main_diary-detail-date">
              <span class="content_main_diary-detail-date-day">
                01
              </span>
                        <span class="content_main_diary-detail-date-month">
                8월
              </span>
                    </div>

                    <div class="content_main_diary-detail-box">

                        <div class="content_main_diary-detail-box-subject">
                            큰일났음
                        </div>
                        <div class="content_main_diary-detail-box-content">
                            으아아아아아아아아아아아아아
                        </div>

                    </div>

                </div> <!--content_main_diary-detail-->

            </div> <!--content_main_diary-->

        </div> <!--content_main-->


        <div class="content_footer_plus cursor">
            <i class="fa-solid fa-plus"></i>
        </div> <!--footer-->

    </div>
</div>

<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<!-- datepicker 한국어로 -->
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/i18n/datepicker-ko.js"></script>
<script>
    $(function() {
        $.datepicker.setDefaults($.datepicker.regional['ko']); //datepicker 한국어로 사용하기 위한 언어설정
        $('#date').datepicker({dateFormat: 'yy년 mm월 dd일'});
    });
</script>
<script>
    function resize(obj) {
        obj.style.height = '1px';
        obj.style.height = (12 + obj.scrollHeight) + 'px';
    }
</script>
</body>
</html>