<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/reset.css}" rel="stylesheet" />
    <link th:href="@{/css/board/calendar.css}" rel="stylesheet"/>
    <link th:href="@{/css/board/detail.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"/>
    <title>Document</title>
    <script src="https://kit.fontawesome.com/d84eab0825.js" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script>
        $(function() {

            let paramId = $("input[name='paramId']").val();
            let postId = $("input[name='postId']").val();

            //x버튼 시 뒤로 가기
            $('.fa-x').on('click', function() {
                location.href="/board/main/" + paramId;
            });

            //지우개 버튼 누를 시 삭제
            $('.fa-eraser').on('click', function() {
                if(confirm('삭제하시겠습니까?')) {

                    $.ajax({
                        type: "get",
                        url : "/board/delete/" + paramId + "?postId=" + postId,
                        headers: {'Content-Type': 'application/json'},
                        success : function (data){
                            alert("삭제되었습니다");
                            location.href = "/board/main/" + paramId;
                        },
                        error: function(request, status, error){
                            alert(request.responseText);
                        }
                    });
                }
            });

            //수정 버튼 누를 시 수정 화면으로 이동
            $('.fa-pencil').on('click', function() {
                location.href = "/board/rewrite/" + paramId + "?postId=" + postId;
            });

            //댓글 수정 버튼
            $('.update_btn').on('click', function(){
                $('.first_comments_btn_save').removeClass('removement');
                $('.comments_btn_update_delete').addClass('removement');
                $(this).closest(".comments_list").find("textarea").attr("readonly", false);
            });

            //댓글 수정
            $('.first_save_btn').on('click', function() {
                let obj = {
                    "commentsId" :  $(this).next().val(),
                    "commentsDetail": $(this).closest(".comments_list").find("textarea").val()
                };

                $.ajax({
                    type: "put",
                    url : "/comments/update",
                    headers: {'Content-Type': 'application/json'},
                    data : JSON.stringify(obj),
                    success : function (data){
                        alert("수정되었습니다");
                        window.location.reload();
                    },
                    error: function(data, status, error){
                        alert(data.responseText);
                    }
                });
            });

            //댓글 삭제
            $('.delete_btn').on('click', function(){

                let commentsId = $(this).next().val();

                $.ajax({
                    type: "delete",
                    url : "/comments/delete",
                    data : 'commentsId=' + commentsId,
                    success : function (data){
                        alert("삭제되었습니다");
                        window.location.reload();
                    },
                    error: function(data, status, error){
                        alert(data.responseText);
                    }
                });
            });

            //댓글 작성
            $('.second_save_btn').on('click', function(){

                let obj = {
                    "postId" : $("input[name='postId']").val(),
                    "commentsDetail": $(this).closest(".comments_main").find("textarea").val()
                };

                $.ajax({
                    type: "post",
                    url : "/comments/write",
                    headers: {'Content-Type': 'application/json'},
                    data : JSON.stringify(obj),
                    success : function (data){
                        alert("댓글이 작성되었습니다");
                        window.location.reload();
                    },
                    error: function(data, status, error){
                        alert(data.responseText);
                    }
                });
            });
        });
    </script>
</head>
<body>
<div class="container">
    <div class="container_background">

        <!--paramId-->
        <input type="hidden" th:value="${paramId}" name="paramId"/>
        <!--postId-->
        <input type="hidden" th:value="${boardResponseDto.postId}" name="postId"/>

        <div class="write_form_header">

            <div class="write_form_header_first">
                <div class="write_form_header_icon cursor">
                    <i class="fa-solid fa-x"></i>
                </div>
                <div th:if="${comparison eq true}" class="write_form-right">
                    <a th:href="'/board/rewrite/' + ${paramId} + '?postId=' + ${boardResponseDto.postId}">
                        <div class="write_form_header_icon cursor">
                            <i class="fa-solid fa-pencil"></i>
                        </div>
                    </a>
                </div>
                <div th:if="${comparison eq true}">
                    <div class="write_form_header_icon cursor">
                        <i class="fa-solid fa-eraser"></i>
                    </div>
                </div>
            </div>

            <div class="write_form_header_second">
                <input readonly th:value="${boardResponseDto.year}+년+' '+${boardResponseDto.month}+월+' '+${boardResponseDto.day}+일" type="text" id="date" size="10" class="write_form_header_second_text" />
            </div>
        </div> <!--header-->

        <div class="write_form_main">
            <div class="write_form_main_subject">
                <input type="text" th:value="${boardResponseDto.postTitle}" readonly class="write_form_main_subject_text"/>
            </div>
            <textarea th:text="${boardResponseDto.postContent}" readonly onkeydown="resize(this)" onkeyup="resize(this)" class="write_form_main_content aaaa"></textarea>
        </div> <!--main-->

        <div class="dddd">
            댓글
        </div>

        <div class="comments_list_main" th:if="${not #strings.isEmpty(commentsList)}">

            <div class="comments_list" th:each="x : ${commentsList}">
                <div class="comments_writer">

                    <div class="comments_writer_info">
                        <span th:text="${x.userName}">닉네임</span>
                        <span th:text="${x.createdDate}">날짜</span>
                    </div> <!--comments_writer_info-->

                    <!--내 아이디만-->
                    <div class="comments_btn_box" th:if="${x.comparison eq true}">
                        <!--수정, 삭제 버튼 누르면-->
                        <div class="comments_btn_save first_comments_btn_save removement">
                            <input type="button" value="저장" class="comments_btn first_save_btn"/>
                            <input type="hidden" th:value="${x.commentId}"/> <!--댓글 id-->
                        </div>
                        <div class="comments_btn_update_delete">
                            <input type="button" value="수정" class="comments_btn update_btn"/>
                            <input type="button" value="삭제" class="comments_btn delete_btn"/>
                            <input type="hidden" th:value="${x.commentId}"/> <!--댓글 id-->
                        </div>
                    </div> <!--comments_btn_box-->
                </div> <!--comments_writer-->

                <textarea th:text="${x.commentsDetail}" readonly onkeydown="resize(this)" onkeyup="resize(this)" class="write_form_main_content comments first_comments_save">와아아</textarea>
            </div> <!--comments_list-->
        </div> <!--comments_list_main-->


        <div class="comments_main" th:if="${not #strings.isEmpty(userName)}">
            <div class="comments_writer">

                <div class="comments_writer_info">
                    <span th:text="${userName}">닉네임</span>
                </div> <!--comments_writer_info-->

                <div class="comments_btn_box">
                    <div class="comments_btn_save">
                        <input type="button" value="저장" class="comments_btn second_save_btn"/>
                    </div>
                </div> <!--comments_btn_box-->

            </div> <!--comments_writer-->
            <textarea onkeydown="resize(this)" style="overflow-y:scroll" onkeyup="resize(this)" class="write_form_main_content comments second_comments_save"></textarea>
        </div> <!--comments_main-->

    </div> <!--container_background-->
</div> <!--container-->



<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script>
    function resize(obj) {
        obj.style.height = '1px';
        obj.style.height = (12 + obj.scrollHeight) + 'px';
    }
</script>
</body>
</html>