<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/reset.css}" rel="stylesheet" />
    <link th:href="@{/css/board/write.css}" rel="stylesheet"/>
    <link th:href="@{/css/board/modal.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"/>
    <title>Document</title>
    <script src="https://kit.fontawesome.com/d84eab0825.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>

        $(function() {

            //오늘 날짜
            const date = new Date();

            const year = date.getFullYear();
            const month = date.getMonth() + 1;
            const day = date.getDate();
            const format = year+"년 "+(("00"+month.toString()).slice(-2))+"월 "+(("00"+day.toString()).slice(-2))+"일";

            $('.write_form_header_second_text').val(format);

            //x버튼 시 뒤로 가기
            $('.fa-x').on('click', function() {
                window.history.back();
            });

            // 파일 업로드
            let form = "";
            let formData = "";
            $('#upload-file-input').on('click', function(){

                $('#upload-file-input').on('change', function(){
                    $('.img-text').val(this.files[0].name);
                    form = $('#updateImgForm')[0];
                    formData = new FormData(form);
                    formData.append("img", this.files[0]);
                });
            });

            //초기화
            $('#reset-btn').on('click', function(){
                $('.img-text').val("");
                formData.delete("img");
            });

            //저장하기
            $('.write_form_header_save').on('click', function() {

                let obj={
                    "paramId" :  $("input[name='paramId']").val(),
                    "postDate" : $("input[name='date']").val(),
                    "postTitle": $("input[name='postTitle']").val(),
                    "postContent" : $(".write_form_main_content").val()
                };
                formData.append("data", new Blob([JSON.stringify(obj)], {type: "application/json"}));

                if (confirm('저장하시겠습니까?')) {

                    $.ajax({
                        type: "post",
                        url : "/board/save",
                        processData: false,
                        contentType: false,
                        data : formData,
                        success : function (data){
                            alert("저장되었습니다");
                            let paramId = $("input[name='paramId']").val();
                            location.href = "/board/detail/" + paramId +"?postId=" + data;
                        },
                        error: function(data, status, error){
                            alert(data.responseText);
                        }
                    });
                }
            });
        });
    </script>
</head>
<body>
<div class="container">
    <div class="container_background">

        <!--userId-->
        <input type="hidden" th:value="${paramId}" name="paramId"/>

        <div class="write_form_header">

            <div class="write_form_header_first">
                <div class="write_form_header_icon cursor">
                    <i class="fa-solid fa-x"></i>
                </div>
                <input type="button" value="저장" class="write_form_header_save cursor"/>
            </div>

            <div class="write_form_header_second">
                <!--동적으로 현재 날짜-->
                <input readonly name="date" value="" type="text" id="date" size="10" class="write_form_header_second_text" />
                <label for="date">
                    <i class="fa-solid fa-caret-down cursor"></i>
                </label>
            </div>

        </div> <!--header-->


        <div class="write_form_main">
            <div class="write_form_main_subject">
                <input type="text" name="postTitle" placeholder="표제" class="write_form_main_subject_text"/>
            </div>
            <textarea placeholder="내용을 입력해 주세요" onkeydown="resize(this)" onkeyup="resize(this)" class="write_form_main_content"></textarea>
        </div>

        <div class="content_thumbnail cursor" id="add-btn">
            <i class="fa-solid fa-image cursor"></i>
        </div> <!--footer-->

        <!-- 모달 -->
        <div class="modal" id="modal">
            <div class="modal_body">
                <div class="m_head">
                    <div class="modal_title">Update thumbnail</div>
                    <div class="close_btn">X</div>
                </div>
                <form enctype="multipart/form-data" id="updateImgForm">
                    <div class="m_body">
                        <input type="text" name="extra" class="img-text">
                        <label for="upload-file-input">
                            <div class="modal_btn save cursor">파일 선택</div>
                        </label>
                        <input id="upload-file-input" class="modal_btn save" value="" type="file" name="multipartFile"/>
                    </div>
                </form>
                <div class="m_footer">
                    <div class="modal_btn cancel" id="reset-btn">초기화</div>
                    <div class="modal_btn save close_btn">저장</div>
                </div>
            </div>
        </div>
        <!-- 모달 -->
    </div>
</div>

<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<!-- datepicker 한국어로 -->
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/i18n/datepicker-ko.js"></script>
<script>
    $(function() {
        $.datepicker.setDefaults($.datepicker.regional['ko']); //datepicker 한국어로 사용하기 위한 언어설정
        $('#date').datepicker({dateFormat: 'yy년 mm월 dd일'});
    });
</script>
<script>
    function resize(obj) {
        obj.style.height = '1px';
        obj.style.height = (12 + obj.scrollHeight) + 'px';
    }

    // click on 라벨 추가 모달 열기
    $(document).on('click', '#add-btn', function (e) {
        console.log("click event");
        $('#modal').addClass('show');
    });

    // 모달 닫기
    $(document).on('click', '.close_btn', function (e) {
        console.log("click event");
        $('#modal').removeClass('show');
    });
</script>
</body>
</html>