<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/reset.css}" rel="stylesheet" />
    <link th:href="@{/css/user/email-auth.css}" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(function(){
            $('.join_form_btn').on('click', function(e){
                self.opener = self;
                window.close();
            });
        });
    </script>
</head>
<body>
<div th:if="${#strings.equals(result.getEmailAuthStatus(), 'SUCCESS')}" class="message_box">
    <div class="message_contents">회원님의 계정이 활성화되었습니다.</div>
    <div class="btn">
        <input type="button" value="돌아가기" class="join_form_btn"/>
    </div>
</div>

<div th:if="${#strings.equals(result.getEmailAuthStatus(), 'FAIL')}" class="message_box">
    <div class="message_contents">회원님의 계정 활성화에 실패하였습니다.</div>
    <div class="btn">
        <input type="button" value="돌아가기" class="join_form_btn"/>
    </div>
</div>

<div th:if="${#strings.equals(result.getEmailAuthStatus(), 'DONE')}" class="message_box">
    <div class="message_contents">계정이 이미 활성화되었습니다.</div>
    <div class="btn">
        <input type="button" value="돌아가기" class="join_form_btn"/>
    </div>
</div>
</body>
</html>