<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/reset.css}" rel="stylesheet" />
  <link th:href="@{/css/user/find-user-pwd-auth-id.css}" rel="stylesheet" />
  <title>Document</title>
  <script src="https://kit.fontawesome.com/d84eab0825.js" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    $(function(){
      //비밀번호를 찾기 위한 아이디 입력
      $('#find_btn').on('click', function() {
        let userId = $("input[name='userId']").val();

        $.ajax({
          type: "post",
          url : "/user/find-userPwd-checkId.do",
          data: 'userId=' + userId,
          success : function (data){
            location.href="/user/find-user-pwd-auth.do?userId=" + data;
          },
          error: function(request, status, error){
            alert(request.responseText);
          }
        });
      });
    });
  </script>
</head>
<body>
<div class="message_box">
  <div class="message_contents">비밀번호를 찾고자하는 아이디를 입력해주세요.</div>
  <div class="btn">
    <d1>
      <dd>
        <form>
          <input type="text" name="userId" placeholder="123456***" class="join_form_email"/>
          <input type="button" value="다음" class="join_form_btn second_btn" id="find_btn"/>
        </form>
      </dd>
      <dd class="dd">
        <span class="find-id">아이디가 기억나지 않으신다면?</span>
        <a class="find-id-link" href="/user/find-user-id-auth.do">
          <span class="find-id-span">아이디 찾기</span>
        </a>
      </dd>
    </d1>
  </div>
</div>
</body>
</html>