<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/reset.css}" rel="stylesheet" />
    <link th:href="@{/css/user/login.css}" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/d84eab0825.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <!--
    spring security 구현 시 name은 각각 username, password로 한다.
    또는 formLogin()에서 usernameParameter을 커스텀할 수 있다.
    -->
<div class="container">
    <div class="container_background">

        <div class="login_form_img">
            <div class="user-check">Diary</div>
        </div>

        <div class="login_form">
            <form method="post">
                <div class="login_form_main">
                    <div class="login_form_main-id">
                        <div class="login_form_main-id-img">
                            <i class="fa-solid fa-user"></i>
                        </div>
                        <input type="text" name="username" placeholder=" Email or Id " class="login_form_main-id-text" required/>
                    </div>

                    <div class="login_id_check">아이디를 정확히 입력하세요(5자 이상)</div>

                    <div class="login_form_main-pwd">
                        <div class="login_form_main-pwd-img">
                            <i class="fa-solid fa-lock"></i>
                        </div>
                        <input type="password" name="password" placeholder=" Password " class="login_form_main-pwd-text" required/>
                    </div>

                    <div class="login_pwd_check">비밀번호를 정확히 입력하세요(8자 이상)</div>

                    <div class="login_button">
                        <input type="submit" value="login" class="login_button_box"/>
                    </div>
                    <div class="login-box">
                        <a href="/oauth2/authorization/google" class="social-button" id="google-connect"> <span>Connect with Google</span></a>
                    </div>
                </div> <!--login form main-->
            </form>

            <div class="login_form_bottom">
                <span class="login_form_bottom-text">New to Diary?</span>
                <a class="login_form_bottom-link" href="/user/signup">
                    <span class="login_form_bottom-text">Sign up</span>
                </a>
            </div>

            <div class="login_form_bottom-pwd">
                <a class="login_form_bottom-link-pwd" href="/user/find-user-id-auth">
                    <span class="login_form_bottom-text-id">아이디</span>
                </a>
                <span class="login_form_bottom-text-none">/</span>
                <a class="login_form_bottom-link-pwd" href="/user/find-user-pwd">
                    <span class="login_form_bottom-text-pwd">비밀번호</span>
                </a>
                <span class="login_form_bottom-text-none">찾기</span>
            </div> <!--아이디/비번 찾기-->


        </div> <!--login_form-->

        <input type="hidden" th:value="${errorMessage}" class="errorMessage"/>

    </div> <!--container_background-->
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(function(){
        var message = $('.errorMessage').val();

        if(message == null || message == "" || message == undefined || message == "undefinded") {
        } else {
            alert(message);
        }
    });
</script>
</body>
</html>