<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/reset.css}" rel="stylesheet" />
    <link th:href="@{/css/user/withdrawal.css}" rel="stylesheet"/>
    <script src="https://kit.fontawesome.com/d84eab0825.js" crossorigin="anonymous"></script>
    <title>Document</title>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script>
        $(function(){
            $('.cancel_btn').on('click', function() {
                location.href="/user/myPage/" + $('.userId');
            });

            $('.withdrawal_btn').on('click', function() {
                $.ajax({
                    type: "post",
                    url : "/user/withdrawal/" + $('.userId'),
                    success : function (data){
                        console.log(data);
                        alert('탈퇴되었습니다.');
                        location.href = '/user/logout';
                    },
                    error: function(request, status, error){
                        alert(request.responseText);
                    }
                });
            });

        });
    </script>
</head>
<body>
<div class="container">
    <input type="hidden" th:text="${userId}" class="userId"/>

    <div class="container_background">

        <div class="withdrawal_form">

            <div class="withdrawal_form_title">
                <span class="withdrawal_form_title_detail">주의하세요!</span>
            </div>

            <div class="withdrawal_form_alert">
              <span class="withdrawal_form_alert_detail">
                탈퇴 시 삭제/유지되는 정보를 확인하세요! <br>
                한 번 삭제된 정보는 복구가 불가능합니다.
              </span>
            </div>

            <div class="withdrawal_form_main">
                <p class="withdrawal_form_main_detail">
                    계정 및 프로필 정보 삭제 <br><br>
                    모든 데이터 복구 불가
                </p>
            </div>

            <div class="withdrawal_form_btnBox">
                <input type="button" value="탈퇴" class="join_form_btn withdrawal_btn"/>
                <input type="button" value="취소" class="join_form_btn cancel_btn"/>
            </div>

        </div> <!--withdrawal form-->

    </div>
</div>

</body>
</html>