html, body {
    height: 100%;
    background-color: #f7faff;
}
.cursor {
    cursor: pointer;
}
.container_background {
    padding: 0px 40px;
}
.write_form_header {
    position: fixed;
    background-color: #9aafe6;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 95%;
    height: 130px;
    padding: 20px 40px;
    padding-bottom: 5px;
    z-index: 1000;
}
.write_form_header_first {
    display: flex;
    justify-content: end;
    width: 100%;
    padding-bottom: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid white;
}
.write_form_header_icon {
    margin-top: 10px;
    margin-right: 20px;
}
.write_form_header_icon:first-child {
    margin-right: auto;
}
.fa-x,
.fa-pencil,
.fa-eraser {
    font-size: 25px;
}
.write_form_header_second {
    display: flex;
}
.write_form_header_second_text {
    border: none;
    width: 130px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: #9aafe6;
    color: #222;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
}
input:focus {
    outline: none;
}
.fa-caret-down {
    font-size: 18px;
}
.write_form_main {
    margin-top: 170px;
    padding: 0px 30px;
    margin-bottom: 80px;
}
.write_form_main_subject_text {
    border: none;
    width: 100%;
    font-size: 19px;
    font-weight: 600;
    padding: 8px 8px;
    background-color: #f7faff;
}
.write_form_main_subject {
    margin-bottom: 30px;
}
input::placeholder {
    font-size: 16px;
    font-weight: 500;
}
textarea::placeholder {
    font-size: 14px;
    font-weight: 500;
}
.write_form_main_content {
    padding: 0px;
    width: 100%;
    border: none;
    resize: none;
    overflow: hidden;
    font-weight: 600;
    background-color: #f7faff;
    margin-bottom: 20px;
}
.write_form_main_content:focus {
    outline: none;
}
.write_form-right {
    margin-right: 20px;
}
.comments_list {
    margin: 0px 30px;
    margin-top: 30px;
    border-bottom: 1px solid #9aafe6;
}
.comments_main {
    margin-top: 20px;
    padding: 0px 30px;
    margin-bottom: 20px;
    height: 100px;
    margin-left: 30px;
    background-color: #9aafe6;
}
.comments_writer {
    margin-bottom: 10px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}
.comments_writer_info {
    align-self: center;
}
.comments {
    font-weight: 400;
    font-size: 13px;
    border-radius: 3px;
    margin-bottom: 0px;
}
.comments_btn_box {
    display: flex;
    justify-content: end;
    margin-top: 8px;
}
.comments_btn {
    border: none;
    background-color: #9aafe6;
    border-radius: 3px;
    padding: 4px 12px;
    color: #222;
    font-weight: 600;
}
.comments_save {
    border: none;
}
.comments_list_main {
    overflow-x: hidden;
    overflow-y: scroll;
    height: auto;
}
.dddd {
    margin: 0 30px;
    font-size: 14px;
}
.aaaa {
    padding-bottom: 30px;
}
.removement {
    display: none;
}


/*아이콘*/
.weather-icon {
    margin-left: 5px;
}
.weather-icon-i {
    font-size: 25px;
}
.fa-sun {
    color: rgb(218, 60, 60);
}
.fa-cloud-sun {
    color: rgb(145, 51, 160);
}
.fa-cloud,
.fa-cloud-meatball,
.fa-cloud-sun-rain,
.fa-cloud-showers-heavy {
    color: rgb(51, 89, 160);
}
.fa-poo-storm {
    color: rgb(192, 208, 47);
}
.fa-snowflake {
    color: rgb(165, 225, 234);
}
.fa-smog {
    color: rgb(160, 142, 51);
}
